<header>
  <nav class="navbar navbar-light">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'games' %}active{% endif %}"
             href="{{ url_for('games') }}"
          >
            Игры
          </a>
        </li>
        <li class="nav nav-item">
          <a class="nav-link {% if request.endpoint == 'developers' %}active{% endif %}"
             href="{{ url_for('developers') }}"
          >
            Разработчики
          </a>
        </li>
        <li class="nav nav-item">
          <a class="nav-link {% if request.endpoint == 'publishers' %}active{% endif %}"
             href="{{ url_for('publishers') }}"
          >
            Издатели
          </a>
        </li>
        <li class="nav nav-item">
          <a class="nav-link {% if request.endpoint == 'genres' %}active{% endif %}"
             href="{{ url_for('genres') }}"
          >
            Жанры
          </a>
        </li>
        {% if user and user.role == 'admin' %}
          <li class="nav nav-item">
            <a class="nav-link {% if request.endpoint == 'users' %}active{% endif %}"
               href="{{ url_for('users') }}"
            >
              Пользователи
            </a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav nav-pills">
        {% if not user %}
        <li class="nav nav-item">
          <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}"
             href="{{ url_for('login') }}"
          >
            Войти
          </a>
        </li>
        {% else %}
          {% if user.role == 'admin' %}
            <li class="nav nav-item">
              <span class="align-self-center">Администратор {{ user.username }}</span>
            </li>
          {% else %}
            <li class="nav nav-item">
              <a class="nav-link {% if request.endpoint == 'current_user' %}active{% endif %}"
                 href="{{ url_for('user_detail', id_user=user.id_user) }}"
              >
                {{ user.username }}
              </a>
            </li>
          {% endif %}
        <li class="nav nav-item">
          <a class="nav-link {% if request.endpoint == 'logout' %}active{% endif %}"
             href="{{ url_for('logout') }}"
          >
            Выйти
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>