{% extends 'base.html' %}

{% block title %}
Игры - Game-Kiroku
{% endblock %}

{% block content %}
  <form method="GET">
    <p>Параметр сортировки</p>
    <input type="radio" class="btn-check" name="order_by" id="order_id_game" autocomplete="off" checked>
    <label class="btn btn-primary" for="order_id_game">Id</label>

    <input type="radio" class="btn-check" name="order_by" id="order_rating" autocomplete="off">
    <label class="btn btn-primary" for="order_rating">Rating</label>

    <input type="radio" class="btn-check" name="order_by" id="order_release_date" autocomplete="off">
    <label class="btn btn-primary" for="order_release_date">Release Date</label>

    <p>Порядок сортировки</p>
    <input type="radio" class="btn-check" name="order_direction" id="asc" autocomplete="off" checked>
    <label class="btn btn-primary" for="asc">Ascending</label>

    <input type="radio" class="btn-check" name="order_direction" id="desc" autocomplete="off">
    <label class="btn btn-primary" for="desc">Descending</label>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Rating</th>
        <th scope="col">Developer</th>
        <th scope="col">Publisher</th>
        {% if session['role'] == 'admin' %}
        <th scope="col">Действия</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
        <tr>
          <td><a href="{{ url_for('game_detail', id_game=game.id_game) }}">{{ game.game_name }}</a></td>
          <td>{{ game.game_name }}</td>
          <td>{{ game.release_date }}</td>
          <td>{{ game.rating }}</td>
          <td>{{ game.developer }}</td>
          <td>{{ game.publisher }}</td>
          {% if session['role'] == 'admin' %}
          <td><a href="{{ url_for('delete_game', id_game=game.id_game) }}">Удалить</a></td>
          {% endif %}
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}