{% extends 'base.html' %}
{% block title %}{{ game.game_name }} - Game-Kiroku{% endblock %}

{% block content %}


  <div class="row">
    <div class="col">
      <h3>{{ game.game_name }}</h3>
      <p>Рейтинг: {{ game.rating }}</p>
      <p>Дата выхода: {{ game.release_date }}</p>
      <p>Разработчик: {{ game.developer }}</p>
      {% if game.publisher %}
        <p>Издатель: {{ game.publisher }}</p>
      {% endif %}
      {% if game.description %}
        <p>{{ game.description }}</p>
      {% endif %}
      {% if genres %}
        <p class="fw-bold mb-1">Жанры</p>
        <ul>
          {% for genre in genres %}
            <li>{{ genre.genre_name }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if user.role == 'admin' %}
        <p><a href="{{ url_for('update_game', id_game=game.id_game) }}">Изменить</a></p>
        <p><a href="{{ url_for('delete_game', id_game=game.id_game) }}">Удалить</a></p>
      {% endif %}
    </div>

    {% if user and user['role'] != 'admin' %}
      <form method="post" class="col-4"
            action="{{ url_for('update_list', id_game=game.id_game, id_user=user.id_user) }}">
        <select class="form-select" name="list_type">
          <option value="planned"
                  {% if user_game_list is none or user_game_list.list_type == 'planned' %}
                  selected
                  {% endif %}
          >
            Запланировано
          </option>
          <option value="playing" {% if user_game_list.list_type == 'playing' %}selected{% endif %}>Играю</option>
          <option value="postponed" {% if user_game_list.list_type == 'postponed' %}selected{% endif %}>Отложено
          </option>
          <option value="completed" {% if user_game_list.list_type == 'completed' %}selected{% endif %}>Пройдено
          </option>
          {% if user_game_list is not none %}
            <option value="delete" class="text_danger alert-danger">Удалить</option>
          {% endif %}
        </select>
        <select class="form-select" name="rated">
          <option value="none"
                  {% if user_game_list is none or user_game_list.rated is none %}
                  selected
                  {% endif %}
          >
            Оценка
          </option>
          <option value="1" {% if user_game_list.rated == 1 %}selected{% endif %}>1</option>
          <option value="2" {% if user_game_list.rated == 2 %}selected{% endif %}>2</option>
          <option value="3" {% if user_game_list.rated == 3 %}selected{% endif %}>3</option>
          <option value="4" {% if user_game_list.rated == 4 %}selected{% endif %}>4</option>
          <option value="5" {% if user_game_list.rated == 5 %}selected{% endif %}>5</option>
          <option value="6" {% if user_game_list.rated == 6 %}selected{% endif %}>6</option>
          <option value="7" {% if user_game_list.rated == 7 %}selected{% endif %}>7</option>
          <option value="8" {% if user_game_list.rated == 8 %}selected{% endif %}>8</option>
          <option value="9" {% if user_game_list.rated == 9 %}selected{% endif %}>9</option>
          <option value="10" {% if user_game_list.rated == 10 %}selected{% endif %}>10</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Добавить в список">
      </form>
    {% endif %}
  </div>
  {% if comments %}
    <p class="fw-bold mb-1">Комментарии</p>
    <div class="row mb-3">
      <div class="col">
        {% for comment in comments %}
          <div class="row border-bottom border-1 pb-2 pt-2">
            <div class="col-2">
              <a href="{{ url_for('user_detail', id_user=comment.id_user) }}">
                {{ comment.username }}
              </a>
            </div>
            <div class="col-9">{{ comment.text }}</div>
            {% if user.id_user == comment.id_user or user.role == 'admin' %}
              <div class="col-1">
                <a href="{{ url_for('delete_comment', id_game=game.id_game, id_user=comment.id_user) }}"
                   class="text-danger"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg"
                       viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                  </svg>
                </a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if user and user.role != 'admin' %}
    <form action="{{ url_for('create_comment', id_game=game.id_game, id_user=user.id_user) }}" method="post">
      <label for="comment_text_input" class="form-label fw-bold mb-1">Оставить комментарий</label>
      <textarea name="comment_text" id="comment_text_input" class="form-control mb-3"></textarea>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  {% endif %}
{% endblock %}