{% extends 'base.html' %}

{% block title %}
Игры - Game-Kiroku
{% endblock %}

{% block content %}
  <form method="GET">
    <label for="search_text_input" class="form-label">Поиск</label>
    <input type="text" id="search_text_input" name="search_text" class="form-control">
    <p class="mb-1">Параметр сортировки</p>
    <input type="radio" class="btn-check" name="order_by" id="order_id_game" value="id_game" autocomplete="off" checked>
    <label class="btn btn-primary" for="order_id_game">id</label>

    <input type="radio" class="btn-check" name="order_by" id="order_rating" value="rating" autocomplete="off">
    <label class="btn btn-primary" for="order_rating">Rating</label>

    <input type="radio" class="btn-check" name="order_by" id="order_release_date" value="release_date" autocomplete="off">
    <label class="btn btn-primary" for="order_release_date">Release Date</label>

    <p class="mb-1 mt-3">Порядок сортировки</p>
    <input type="radio" class="btn-check" name="order_direction" id="order_dir_asc" value="asc" autocomplete="off" checked>
    <label class="btn btn-primary" for="order_dir_asc">Ascending</label>

    <input type="radio" class="btn-check" name="order_direction" id="order_dir_desc" value="desc" autocomplete="off">
    <label class="btn btn-primary" for="order_dir_desc">Descending</label>
    <br>

    <label for="developer_select" class="form-label mt-3">Разработчик</label>
    <select name="id_developer" class="form-select" id="developer_select">
        <option value="none" selected>Developer</option>
        {% for developer in developers %}
            <option value="{{ developer.id_developer }}">{{ developer.studio_name }}</option>
        {% endfor %}
    </select>

    <label for="publisher_select" class="form-label mt-3">Издатель</label>
    <select name="id_publisher" class="form-select" id="publisher_select">
        <option value="none" selected>Publisher</option>
        {% for publisher in publishers %}
            <option value="{{ publisher.id_publisher }}">{{ publisher.publisher_name }}</option>
        {% endfor %}
    </select>
    <input class="btn btn-primary mt-3" type="submit" value="Поиск">
  </form>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">Дата выхода</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Разработчик</th>
        <th scope="col">Издатель</th>
        {% if user['role'] == 'admin' %}
        <th scope="col">Действия</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
        <tr>
          <td>{{ game.id_game }}</td>
          <td><a href="{{ url_for('game_detail', id_game=game.id_game) }}">{{ game.game_name }}</a></td>
          <td>{{ game.release_date }}</td>
          <td>{{ game.rating }}</td>
          <td>{{ game.developer }}</td>
          <td>{{ game.publisher }}</td>
          {% if user['role'] == 'admin' %}
          <td><a href="{{ url_for('delete_game', id_game=game.id_game) }}">Удалить</a></td>
          {% endif %}
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}