{% extends 'base.html' %}
{% block title %}
  Вход - Game-Kiroku
{% endblock %}

{% block content %}
  <form method="post" class="text-center border p-3 w-50 m-auto">
    <label for="username_input" class="form-label">Логин</label>
    <input type="text" class="form-control" name="username" id="username_input">
    <label for="password_input" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password" id="password_input">
    <input type="submit" class="btn btn-primary mt-3" value="Войти">
    <p class="mt-3"><a href="{{ url_for('register') }}">Регистрация</a></p>
  </form>
{% endblock %}