{% extends 'base.html' %}

{% block title %}
  {% if update %}
    Обновление {{ developer.studio_name }} - Game-Kiroku
  {% else %}
    Создание разработчика
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" class="col-5">
    <div class="mb-3">
      <label for="studio_name_input" class="form-label">Название</label>
      <input type="text" class="form-control" id="studio_name_input" name="studio_name" required
              {% if update %}
             value="{{ developer.studio_name }}"
              {% endif %}
      >
    </div>
    <div class="mb-3">
      <label for="country_input" class="form-label">Страна</label>
      <input type="text" class="form-control" id="country_input" name="country"
              {% if update and developer.country %}
             value="{{ developer.country }}"
              {% endif %}
      >
    </div>
    <button type="submit" class="btn btn-primary">
      {% if update %}
        Изменить
      {% else %}
        Создать
      {% endif %}
    </button>
  </form>
{% endblock %}